@import "base/colors";
@import "base/fonts";

@import "vendors/proposals";
@import "vendors/admin-page";
@import "vendors/item-details";
@import "vendors/sidebar";
@import "vendors/main";
@import "vendors/admin-card";
@import "vendors/react-tabs";
@import "vendors/review-changes-page.scss";
@import "vendors/submit-proposal";
@import "vendors/admin-module";
