$color-gray-background: #f8f9fb;

$color-main-purple: #8C64B5;
$color-light-purple: rgba(222, 201, 255, 0.3);
$color-gray: #777;
$color-white: #fff;
$color-input-placeholder: #a5a5a5;
$color-input-background: #f5f5f5;
$color-main-black: #333;
$color-btn-purple-gradient: linear-gradient(93.17deg, rgba(117, 98, 213, 0.8) 2.73%, rgba(111, 24, 111, 0.8) 101.98%);
$color-btn-purple-shadow: rgba(130, 212, 247, 0.2);
$color-error: #FF0C3E;
$color-border-grey: #E8ECEF;
$color-orange: #FE8C05;
$color-orange-dark: #E98218;
$color-yellow: #F2C94C;
$color-lightgreen: #1FE2A8;
$color-lightblue: #56CCF2;
$color-dark-blue: #6A81E0;
$color-dark-gray: #444444;
$color-light-gray: #ececec;
$color-lightgrey-border: #E8ECEF;
$color-red: #d90429;
$color-light-red: #ef233c;


